<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="kigali"></a></li>
                <img src="https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-75-512.png" alt="..." class="img-circle" style="margin-left: 90%;width:25px,haight:25px">
              </ul>ecommerceecommerce
              
</body>
</html>
